.mi_content[data-content='a'] > span {
  padding: 0.5em 0 0.04em 0;
}
.mi_content[data-content='b'] > span {
  padding: 0.7em 0 0.04em 0;
}

.mi_content[data-content='c'] > span {
  padding: 0.5em 0 0 0;
}

.mi_content[data-content='d'] > span {
  padding: 0.7em 0 0 0;
}

.mi_content[data-content='e'] > span {
  padding: 0.4em 0 0em 0;
}

.mi_content[data-content='f'] > span {
  padding: 0.7em 0 0.2em 0;
}

.mi_content[data-content='g'] > span {
  padding: 0.4em 0 0.2em 0;
}

.mi_content[data-content='h'] > span {
  padding: 0.7em 0 0 0;
}

.mi_content[data-content='i'] > span {
  padding: 0.7em 0 0 0;
}

.mi_content[data-content='j'] > span {
  padding: 0.7em 0 0.2em 0;
}

.mi_content[data-content='k'] > span {
  padding: 0.7em 0 0 0;
}

.mi_content[data-content='l'] > span {
  padding: 0.7em 0 0em 0;
}

.mi_content[data-content='m'] > span {
  padding: 0.45em 0 0em 0;
}

.mi_content[data-content='n'] > span {
  padding: 0.45em 0 0em 0;
}

.mi_content[data-content='o'] > span {
  padding: 0.45em 0 0em 0;
}

.mi_content[data-content='p'] > span {
  padding: 0.45em 0 0.2em 0;
}

.mi_content[data-content='q'] > span {
  padding: 0.4em 0 0.2em 0;
}

.mi_content[data-content='r'] > span {
  padding: 0.45em 0 0em 0;
}

.mi_content[data-content='s'] > span {
  padding: 0.45em 0 0em 0;
}

.mi_content[data-content='t'] > span {
  padding: 0.65em 0 0em 0;
}

.mi_content[data-content='u'] > span {
  padding: 0.45em 0 0em 0;
}

.mi_content[data-content='v'] > span {
  padding: 0.45em 0 0em 0;
}

.mi_content[data-content='w'] > span {
  padding: 0.45em 0 0em 0;
}

.mi_content[data-content='x'] > span {
  padding: 0.45em 0 0em 0;
}

.mi_content[data-content='y'] > span {
  padding: 0.45em 0 0.2em 0;
}

.mi_content[data-content='z'] > span {
  padding: 0.45em 0 0em 0;
}

.mi_content[data-content='A'] > span {
  padding: 0.75em 0 0 0;
}

.mi_content[data-content='B'] > span {
  padding: 0.7em 0.05em 0 0;
}

.mi_content[data-content='C'] > span {
  padding: 0.7em 0 0em 0;
}

.mi_content[data-content='D'] > span {
  padding: 0.7em 0 0em 0;
}

.mi_content[data-content='E'] > span {
  padding: 0.7em 0 0em 0;
}

.mi_content[data-content='F'] > span {
  padding: 0.7em 0.1em 0em 0;
}

.mi_content[data-content='G'] > span {
  padding: 0.7em 0 0em 0;
}

.mi_content[data-content='H'] > span {
  padding: 0.7em 0 0em 0;
}

.mi_content[data-content='I'] > span {
  padding: 0.7em 0 0em 0;
}

.mi_content[data-content='J'] > span {
  padding: 0.7em 0 0em 0;
}

.mi_content[data-content='K'] > span {
  padding: 0.7em 0 0em 0;
}

.mi_content[data-content='L'] > span {
  padding: 0.7em 0 0em 0;
}

.mi_content[data-content='M'] > span {
  padding: 0.7em 0 0em 0;
}

.mi_content[data-content='N'] > span {
  padding: 0.7em 0 0em 0;
}

.mi_content[data-content='O'] > span {
  padding: 0.7em 0 0em 0;
}

.mi_content[data-content='P'] > span {
  padding: 0.7em 0.1em 0 0;
}

.mi_content[data-content='Q'] > span {
  padding: 0.7em 0 0.2em 0;
}

.mi_content[data-content='R'] > span {
  padding: 0.7em 0 0em 0;
}

.mi_content[data-content='S'] > span {
  padding: 0.7em 0 0em 0;
}

.mi_content[data-content='T'] > span {
  padding: 0.7em 0.1em 0em 0;
}

.mi_content[data-content='U'] > span {
  padding: 0.7em 0 0em 0;
}

.mi_content[data-content='V'] > span {
  padding: 0.75em 0.25em 0em 0;
}

.mi_content[data-content='W'] > span {
  padding: 0.7em 0.05em 0em 0;
}

.mi_content[data-content='X'] > span {
  padding: 0.7em 0 0em 0;
}

.mi_content[data-content='Y'] > span {
  padding: 0.7em 0.1em 0em 0;
}

.mi_content[data-content='Z'] > span {
  padding: 0.7em 0 0em 0;
}

.mi_content[data-content='π'] > span {
  padding: 0.5em 0 0em 0;
}

.mi_content[data-content='θ'] > span {
  padding: 0.8em 0 0em 0;
}

.mi_content[data-content='λ'] > span {
  padding: 0.7em 0 0.05em 0;
}

.mi_content[data-content='ω'] > span {
  padding: 0.5em 0 0.05em 0;
}

.mi_content[data-content='δ'] > span {
  padding: 0.8em 0 0em 0;
}

.mi_content[data-content='α'] > span {
  padding: 0.5em 0 0.05em 0;
}

.mi_content[data-content='β'] > span {
  padding: 0.7em 0 0.2em 0;
}

.mi_content[data-content='γ'] > span {
  padding: 0.5em 0 0.25em 0;
}

.mi_content[data-content='σ'] > span {
  padding: 0.5em 0 0.05em 0;
}

.mi_content[data-content='μ'] > span {
  padding: 0.5em 0 0.2em 0;
}

.mi_content[data-content='φ'] > span {
  padding: 0.5em 0 0.2em 0;
}

.mi_content[data-content='ε'] > span {
  padding: 0.5em 0 0em 0;
}

.mi_content[data-content='ξ'] > span {
  padding: 0.7em 0 0.25em 0;
}

.mi_content[data-content='ρ'] > span {
  padding: 0.5em 0 0.25em 0;
}

.mi_content[data-content='τ'] > span {
  padding: 0.5em 0.1em 0 0;
}

.mi_content[data-content='υ'] > span {
  padding: 0.5em 0 0 0;
}

.mi_content[data-content='χ'] > span {
  padding: 0.5em 0 0.2em 0;
}

.mi_content[data-content='ψ'] > span {
  padding: 0.75em 0 0.2em 0;
}
