.mn_content[data-content='0'] > span {
  padding: 0.65em 0 0em 0;
}

.mn_content[data-content='1'] > span {
  padding: 0.65em 0 0em 0;
}

.mn_content[data-content='2'] > span {
  padding: 0.65em 0 0em 0;
}

.mn_content[data-content='3'] > span {
  padding: 0.65em 0 0em 0;
}

.mn_content[data-content='4'] > span {
  padding: 0.65em 0 0.1em 0;
}

.mn_content[data-content='5'] > span {
  padding: 0.65em 0 0em 0;
}

.mn_content[data-content='6'] > span {
  padding: 0.65em 0 0em 0;
}

.mn_content[data-content='7'] > span {
  padding: 0.65em 0 0em 0;
}

.mn_content[data-content='8'] > span {
  padding: 0.65em 0 0em 0;
}

.mn_content[data-content='9'] > span {
  padding: 0.65em 0 0em 0;
}
